<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.dconfo_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.view.activity.docente.notas.NotasActivity"></activity>
        <activity android:name=".presentation.view.activity.docente.ejercicios.MisEjerciciosActivity" />
        <activity android:name=".presentation.view.activity.docente.grupos.GrupoNuevoActivity" />
        <activity android:name=".presentation.view.activity.docente.grupos.GrupoDocenteActivity" />
        <activity android:name=".presentation.view.activity.docente.actividades.ActividadDocenteActivity" />
        <activity android:name=".presentation.view.activity.docente.silabico.AsignarEjercicioSilabicoActivity" />
        <activity android:name=".presentation.view.activity.docente.silabico.NewEjercicioSilabicoDocenteActivity" />
        <activity android:name=".presentation.view.activity.docente.fonico.AsignarEjercicioFonicoActivity" />
        <activity android:name=".presentation.view.activity.docente.fonico.BankImagesActivity" />
        <activity android:name=".presentation.view.activity.docente.fonico.NewEjercicioFonicoActivity" />
        <activity android:name=".presentation.view.activity.docente.fonico.NewEjercicioFonicoDocenteActivity" />
        <activity android:name=".presentation.view.activity.docente.AsignarEstudianteDeberActivity" />
        <activity android:name=".presentation.view.activity.docente.AsignarDeberDocenteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.activity.docente.Home_ActivitiesActivity" />
        <activity android:name=".Home_AppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.view.activity.administrador.Home_AdminActivity"
            android:label="@string/title_activity_home__admin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.view.activity.docente.HomeDocenteActivity"
            android:label="@string/title_activity_home_docente"
          />
        <activity android:name=".presentation.view.activity.estudiante.HomeEstudianteActivity" />
        <activity android:name=".presentation.view.activity.estudiante.LoginEstudianteActivity" />
        <activity
            android:name=".presentation.view.activity.administrador.Home_NewCursoActivity"
            android:parentActivityName=".presentation.view.activity.administrador.Home_AdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.administrador.Home_AdminActivity" />
        </activity>
        <activity android:name=".presentation.view.activity.docente.LoginDocenteActivity" />
        <activity android:name=".presentation.view.activity.docente.ManageCursosDocenteActivity" />
        <activity
            android:name=".presentation.view.activity.docente.GrupoDocenteActivity"
            android:parentActivityName=".presentation.view.activity.docente.ManageCursosDocenteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.docente.ManageCursosDocenteActivity" />
        </activity>
        <activity android:name=".presentation.view.activity.docente.ManageEjercicioDocenteActivity" />
        <!--
        <activity
            android:name=".presentation.view.activity.docente.ManageEjercicioDocenteActivity"
            android:parentActivityName=".presentation.view.activity.docente.HomeDocenteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.docente.HomeDocenteActivity" />
        </activity>
        -->
        <activity
            android:name=".presentation.view.activity.docente.NewEjercicioDocenteActivity"
            android:parentActivityName=".presentation.view.activity.docente.ManageEjercicioDocenteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.docente.ManageEjercicioDocenteActivity" />
        </activity>
        <activity android:name=".LoginMainActivity" /> <!-- permisos para android 7 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>